In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [4]:
data = pd.read_csv('rendimiento_2018.csv', delimiter=';')
data.head()

c:\users\valen\appdata\local\programs\python\python37\lib\site-packages\IPython\core\interactiveshell.py:3049: DtypeWarning: Columns (25) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,AGNO,RBD,DGV_RBD,NOM_RBD,COD_REG_RBD,NOM_REG_RBD_A,COD_PRO_RBD,COD_COM_RBD,NOM_COM_RBD,COD_DEPROV_RBD,...,COD_REG_ALU,COD_COM_ALU,NOM_COM_ALU,COD_RAMA,COD_SEC,COD_ESPE,PROM_GRAL,ASISTENCIA,SIT_FIN,SIT_FIN_R
0,2018,1,9,LICEO POLITECNICO ARICA,15,AYP,151,15101,ARICA,151,...,15,15101,ARICA,400,410,41001,0,0,Y,T
1,2018,1,9,LICEO POLITECNICO ARICA,15,AYP,151,15101,ARICA,151,...,15,15101,ARICA,400,410,41001,0,0,Y,Y
2,2018,1,9,LICEO POLITECNICO ARICA,15,AYP,151,15101,ARICA,151,...,15,15101,ARICA,400,410,41001,0,0,Y,T
3,2018,1,9,LICEO POLITECNICO ARICA,15,AYP,151,15101,ARICA,151,...,15,15101,ARICA,400,410,41001,"6,4",95,P,P
4,2018,1,9,LICEO POLITECNICO ARICA,15,AYP,151,15101,ARICA,151,...,15,15101,ARICA,400,410,41001,0,0,Y,Y

In [5]:
data.columns

Index(['AGNO', 'RBD', 'DGV_RBD', 'NOM_RBD', 'COD_REG_RBD', 'NOM_REG_RBD_A',
       'COD_PRO_RBD', 'COD_COM_RBD', 'NOM_COM_RBD', 'COD_DEPROV_RBD',
       'NOM_DEPROV_RBD', 'COD_DEPE', 'COD_DEPE2', 'RURAL_RBD', 'ESTADO_ESTAB',
       'COD_ENSE', 'COD_ENSE2', 'COD_GRADO', 'LET_CUR', 'COD_JOR',
       'COD_TIP_CUR', 'COD_DES_CUR', 'MRUN', 'GEN_ALU', 'FEC_NAC_ALU',
       'EDAD_ALU', 'COD_REG_ALU', 'COD_COM_ALU', 'NOM_COM_ALU', 'COD_RAMA',
       'COD_SEC', 'COD_ESPE', 'PROM_GRAL', 'ASISTENCIA', 'SIT_FIN',
       'SIT_FIN_R'],
      dtype='object')

Se filtran las columnas que nos interesan para el problema planteado, las que en este caso son el establecimiento (RBD), si se encuentra en un lugar rural (RURAL_RBD), la asistencia del alumno, el género del alumno, la jornada del establecimiento (COD_JOR), el tipo de dependencia (COD_DEPE), el código de la comuna donde vive el estudiante, el código de la columna donde se encuentra el estblecimiento y el promedio general del estudiante. Luego de esto, se eliminaron aquellas filas que tenían promedio general igual a 0, ya que esto indica que la persona no realizó el año escolar.

In [7]:
ic = data[[
    'RBD', 'RURAL_RBD', 'ASISTENCIA', 'GEN_ALU',
    'COD_JOR', 'COD_DEPE', 'COD_COM_ALU', 'COD_COM_RBD',
    'PROM_GRAL'
]]
ic = ic.drop(ic[ic['PROM_GRAL'] == "0"].index)
ic

,RBD,RURAL_RBD,ASISTENCIA,GEN_ALU,COD_JOR,COD_DEPE,COD_COM_ALU,COD_COM_RBD,PROM_GRAL
3,1,0,95,2,4,2,15101,15101,"6,4"
8,1,0,90,1,4,2,15101,15101,"5,3"
15,1,0,97,2,4,2,15101,15101,"6,4"
16,1,0,94,1,4,2,15101,15101,6
17,1,0,90,2,4,2,15101,15101,"5,8"
...,...,...,...,...,...,...,...,...,...
3293745,41063,0,100,2,2,3,15101,15101,"6,3"
3293746,41063,0,100,1,2,3,15101,15101,"6,1"
3293747,41063,0,100,1,2,3,15101,15101,"6,3"
3293748,41063,0,100,1,2,3,15101,15101,"5,9"
3293749,41063,0,100,2,2,3,3301,15101,"5,4"

In [8]:
ic['PROM_GRAL'] = ic['PROM_GRAL'].apply(lambda x: x.replace(",", ".")).astype(np.float)
ic.astype(float)

,RBD,RURAL_RBD,ASISTENCIA,GEN_ALU,COD_JOR,COD_DEPE,COD_COM_ALU,COD_COM_RBD,PROM_GRAL
3,1.0,0.0,95.0,2.0,4.0,2.0,15101.0,15101.0,6.4
8,1.0,0.0,90.0,1.0,4.0,2.0,15101.0,15101.0,5.3
15,1.0,0.0,97.0,2.0,4.0,2.0,15101.0,15101.0,6.4
16,1.0,0.0,94.0,1.0,4.0,2.0,15101.0,15101.0,6.0
17,1.0,0.0,90.0,2.0,4.0,2.0,15101.0,15101.0,5.8
...,...,...,...,...,...,...,...,...,...
3293745,41063.0,0.0,100.0,2.0,2.0,3.0,15101.0,15101.0,6.3
3293746,41063.0,0.0,100.0,1.0,2.0,3.0,15101.0,15101.0,6.1
3293747,41063.0,0.0,100.0,1.0,2.0,3.0,15101.0,15101.0,6.3
3293748,41063.0,0.0,100.0,1.0,2.0,3.0,15101.0,15101.0,5.9
3293749,41063.0,0.0,100.0,2.0,2.0,3.0,3301.0,15101.0,5.4

Para seguir perfeccionando nuestro dataset, creamos una columna que muestra si el alumno vivía en la misma columna en la que se encuentra el establecimiento y separamos aquellas columnas que tenían diferentes valores de acuerdo a opciones (como el tipo de dependencia y jornada) en diferentes columnas binarias que mencionan si el estudiante cumple con la característica o no.

In [9]:
regr_columns = ic[['RURAL_RBD', 'ASISTENCIA', 'GEN_ALU', 'PROM_GRAL']]

In [10]:
regr_columns['SAME_COM'] = (ic.COD_COM_ALU == ic.COD_COM_RBD).astype(int)
depe = ['corp_munic', 'munic_daem', 'particular_sub', 'particular_pag', 'corp_admin_pag', 'serv_loc_ed']
for i in range(1, 7):
    regr_columns[depe[i - 1]] = (ic.COD_DEPE == i).astype(int)

jor = ['ma', 'tar', 'completa', 'vesp']
for i in range(1, 5):
    regr_columns[jor[i - 1]] = (ic.COD_JOR == i).astype(int)

regr_columns

c:\users\valen\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
c:\users\valen\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

,RURAL_RBD,ASISTENCIA,GEN_ALU,PROM_GRAL,SAME_COM,corp_munic,munic_daem,particular_sub,particular_pag,corp_admin_pag,serv_loc_ed,ma,tar,completa,vesp
3,0,95,2,6.4,1,0,1,0,0,0,0,0,0,0,1
8,0,90,1,5.3,1,0,1,0,0,0,0,0,0,0,1
15,0,97,2,6.4,1,0,1,0,0,0,0,0,0,0,1
16,0,94,1,6.0,1,0,1,0,0,0,0,0,0,0,1
17,0,90,2,5.8,1,0,1,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3293745,0,100,2,6.3,1,0,0,1,0,0,0,0,1,0,0
3293746,0,100,1,6.1,1,0,0,1,0,0,0,0,1,0,0
3293747,0,100,1,6.3,1,0,0,1,0,0,0,0,1,0,0
3293748,0,100,1,5.9,1,0,0,1,0,0,0,0,1,0,0
3293749,0,100,2,5.4,0,0,0,1,0,0,0,0,1,0,0

Luego realizamos la regresión lineal con los datos que dejamos.

In [11]:
from sklearn.linear_model import LinearRegression

regr = LinearRegression()
regr.fit(regr_columns.drop('PROM_GRAL', axis=1), regr_columns['PROM_GRAL'])

print(f'Coeficientes: {regr.coef_}')
print(f'Beta0: {regr.intercept_}')

Coeficientes: [ 6.64270562e-02  2.53212267e-02  1.91484861e-01  4.79693002e-02
 -2.96629663e+08 -2.96629663e+08 -2.96629663e+08 -2.96629663e+08
 -2.96629664e+08 -2.96629663e+08 -1.40018070e+09 -1.40018070e+09
 -1.40018070e+09 -1.40018070e+09]
Beta0: 1696810369.419976

In [12]:
import json

regr_data = {
    'Coef': list(regr.coef_),
    'Beta': regr.intercept_
}

with open('E3/regr.json', 'w') as file:
    json.dump(regr_data, file)

In [13]:
regr_columns.drop('PROM_GRAL', axis=1).columns[np.argmax(regr.coef_)]

'GEN_ALU'

A continuación mostraremos un ejemplo de 30 valores del dataset, para mostrar que funciona lo realizado.

In [14]:
sample = regr_columns.sample(30)
sample

,RURAL_RBD,ASISTENCIA,GEN_ALU,PROM_GRAL,SAME_COM,corp_munic,munic_daem,particular_sub,particular_pag,corp_admin_pag,serv_loc_ed,ma,tar,completa,vesp
1553776,0,84,2,6.4,0,1,0,0,0,0,0,0,0,1,0
1343405,0,100,1,4.6,0,0,0,1,0,0,0,0,0,1,0
1478813,0,88,1,5.5,1,1,0,0,0,0,0,0,1,0,0
3138799,0,98,2,6.5,1,0,0,1,0,0,0,0,0,1,0
2181429,0,90,2,5.1,0,0,0,1,0,0,0,0,0,1,0
1347248,0,75,2,5.4,1,0,0,1,0,0,0,1,0,0,0
1921428,0,98,2,6.3,0,1,0,0,0,0,0,0,0,1,0
1347269,0,94,1,4.5,1,0,0,1,0,0,0,0,1,0,0
586673,0,99,2,6.8,1,0,1,0,0,0,0,0,0,1,0
829212,0,93,2,6.2,1,0,0,1,0,0,0,0,0,1,0
1388252,0,96,2,5.6,0,0,0,0,1,0,0,0,0,1,0
1643264,0,93,1,5.3,0,0,0,1,0,0,0,1,0,0,0
2224596,0,96,2,5.7,0,0,0,0,1,0,0,0,0,1,0
3079391,0,85,2,5.3,0,0,0,1,0,0,0,0,0,0,1
2931006,0,95,2,5.2,1,0,0,1,0,0,0,0,0,1,0
3133377,0,97,1,5.9,1,0,0,1,0,0,0,0,0,1,0
1912412,0,85,1,5.5,1,0,0,1,0,0,0,1,0,0,0
94506,0,97,1,6.0,1,1,0,0,0,0,0,0,0,1,0
1662309,0,96,1,6.5,0,0,0,1,0,0,0,0,0,1,0
1620097,0,75,1,4.7,1,0,1,0,0,0,0,0,0,1,0
535402,1,91,2,6.5,1,0,1,0,0,0,0,1,0,0,0
2590741,0,94,2,5.8,0,0,0,1,0,0,0,0,0,1,0
2892313,0,97,2,6.8,0,0,0,0,1,0,0,0,0,1,0
65529,0,86,1,6.1,1,1,0,0,0,0,0,0,0,1,0
1953822,0,99,2,5.7,1,0,0,1,0,0,0,0,0,1,0
851335,0,82,2,6.6,1,0,1,0,0,0,0,1,0,0,0
1632157,0,87,2,5.8,1,0,0,1,0,0,0,0,0,1,0
1001457,0,95,1,5.9,1,0,0,1,0,0,0,0,1,0,0
810345,0,95,2,5.5,0,0,1,0,0,0,0,0,0,1,0
1097657,0,89,2,6.0,1,0,0,1,0,0,0,1,0,0,0

In [15]:
regr.predict(sample.drop('PROM_GRAL', axis=1))

array([5.55757499, 5.81776214, 5.65911889, 6.00657368, 5.75603461,
       5.48133993, 5.91207218, 5.85757852, 6.0194509 , 5.87996745,
       6.30603385, 5.69766784, 6.30603385, 5.1080544 , 5.93060994,
       5.7897675 , 5.54306722, 5.74323535, 5.71647716, 5.22025657,
       5.94046235, 5.85731959, 6.33135509, 5.46470189, 6.03189492,
       5.64614439, 5.72804022, 5.88289976, 5.87019658, 5.83583713])

In [16]:
prom_pred = regr.predict(regr_columns.drop('PROM_GRAL', axis=1))

Finalmente, vemos el error.

In [17]:
from sklearn.metrics import mean_squared_error, r2_score

print(f'MSE: {mean_squared_error( regr_columns["PROM_GRAL"], prom_pred)}')
print(f'R2: {r2_score( regr_columns["PROM_GRAL"], prom_pred)}')

MSE: 0.3626576686683043
R2: 0.2035045050750054

Finalmente, se creará una tabla con los datos necesarios y se guardará una muestra de ellos para crear una visualización interactiva.

In [18]:
save_data = ic[[
    'RBD', 'RURAL_RBD', 'ASISTENCIA', 'GEN_ALU',
    'COD_JOR', 'COD_DEPE', 'PROM_GRAL'
    ]]
save_data['SAME_COM'] = (ic.COD_COM_ALU == ic.COD_COM_RBD).astype(int)
save_data

c:\users\valen\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

,RBD,RURAL_RBD,ASISTENCIA,GEN_ALU,COD_JOR,COD_DEPE,PROM_GRAL,SAME_COM
3,1,0,95,2,4,2,6.4,1
8,1,0,90,1,4,2,5.3,1
15,1,0,97,2,4,2,6.4,1
16,1,0,94,1,4,2,6.0,1
17,1,0,90,2,4,2,5.8,1
...,...,...,...,...,...,...,...,...
3293745,41063,0,100,2,2,3,6.3,1
3293746,41063,0,100,1,2,3,6.1,1
3293747,41063,0,100,1,2,3,6.3,1
3293748,41063,0,100,1,2,3,5.9,1
3293749,41063,0,100,2,2,3,5.4,0

In [19]:
save_data.sample(1000).to_json('E3/data.json', orient='records')

In [20]:
save_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2998634 entries, 3 to 3293749
Data columns (total 8 columns):
 #   Column      Dtype
---  ------      -----
 0   RBD         int64
 1   RURAL_RBD   int64
 2   ASISTENCIA  int64
 3   GEN_ALU     int64
 4   COD_JOR     int64
 5   COD_DEPE    int64
 6   PROM_GRAL   float64
 7   SAME_COM    int32
dtypes: float64(1), int32(1), int64(6)
memory usage: 194.5 MB

In [21]:
unique = np.unique(data[['COD_COM_RBD']])
unique.shape

(346,)

El análisis de esta entrega se encuentra en la visualización entregada.