In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
data = pd.read_csv('rendimiento_2018.csv', delimiter=';')
data.head()

C:\Users\danie\AppData\Roaming\Python\Python39\site-packages\IPython\core\interactiveshell.py:3441: DtypeWarning: Columns (25) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,AGNO,RBD,DGV_RBD,NOM_RBD,COD_REG_RBD,NOM_REG_RBD_A,COD_PRO_RBD,COD_COM_RBD,NOM_COM_RBD,COD_DEPROV_RBD,...,COD_REG_ALU,COD_COM_ALU,NOM_COM_ALU,COD_RAMA,COD_SEC,COD_ESPE,PROM_GRAL,ASISTENCIA,SIT_FIN,SIT_FIN_R
0,2018,1,9,LICEO POLITECNICO ARICA,15,AYP,151,15101,ARICA,151,...,15,15101,ARICA,400,410,41001,0,0,Y,T
1,2018,1,9,LICEO POLITECNICO ARICA,15,AYP,151,15101,ARICA,151,...,15,15101,ARICA,400,410,41001,0,0,Y,Y
2,2018,1,9,LICEO POLITECNICO ARICA,15,AYP,151,15101,ARICA,151,...,15,15101,ARICA,400,410,41001,0,0,Y,T
3,2018,1,9,LICEO POLITECNICO ARICA,15,AYP,151,15101,ARICA,151,...,15,15101,ARICA,400,410,41001,"6,4",95,P,P
4,2018,1,9,LICEO POLITECNICO ARICA,15,AYP,151,15101,ARICA,151,...,15,15101,ARICA,400,410,41001,0,0,Y,Y

In [3]:
data.columns

Index(['AGNO', 'RBD', 'DGV_RBD', 'NOM_RBD', 'COD_REG_RBD', 'NOM_REG_RBD_A',
       'COD_PRO_RBD', 'COD_COM_RBD', 'NOM_COM_RBD', 'COD_DEPROV_RBD',
       'NOM_DEPROV_RBD', 'COD_DEPE', 'COD_DEPE2', 'RURAL_RBD', 'ESTADO_ESTAB',
       'COD_ENSE', 'COD_ENSE2', 'COD_GRADO', 'LET_CUR', 'COD_JOR',
       'COD_TIP_CUR', 'COD_DES_CUR', 'MRUN', 'GEN_ALU', 'FEC_NAC_ALU',
       'EDAD_ALU', 'COD_REG_ALU', 'COD_COM_ALU', 'NOM_COM_ALU', 'COD_RAMA',
       'COD_SEC', 'COD_ESPE', 'PROM_GRAL', 'ASISTENCIA', 'SIT_FIN',
       'SIT_FIN_R'],
      dtype='object')

In [4]:
ic = data[[
    'RBD', 'RURAL_RBD', 'ASISTENCIA', 'GEN_ALU',
    'COD_JOR', 'COD_DEPE', 'COD_COM_ALU', 'COD_COM_RBD',
    'PROM_GRAL'
    # 'COD_REG_RBD',
]]
ic = ic.drop(ic[ic['PROM_GRAL'] == "0"].index)
ic

,RBD,RURAL_RBD,ASISTENCIA,GEN_ALU,COD_JOR,COD_DEPE,COD_COM_ALU,COD_COM_RBD,PROM_GRAL
3,1,0,95,2,4,2,15101,15101,"6,4"
8,1,0,90,1,4,2,15101,15101,"5,3"
15,1,0,97,2,4,2,15101,15101,"6,4"
16,1,0,94,1,4,2,15101,15101,6
17,1,0,90,2,4,2,15101,15101,"5,8"
...,...,...,...,...,...,...,...,...,...
3293745,41063,0,100,2,2,3,15101,15101,"6,3"
3293746,41063,0,100,1,2,3,15101,15101,"6,1"
3293747,41063,0,100,1,2,3,15101,15101,"6,3"
3293748,41063,0,100,1,2,3,15101,15101,"5,9"
3293749,41063,0,100,2,2,3,3301,15101,"5,4"

In [5]:
ic['PROM_GRAL'] = ic['PROM_GRAL'].apply(lambda x: x.replace(",", ".")).astype(np.float)
ic.astype(float)

C:\Users\danie\AppData\Local\Temp/ipykernel_9968/3040759384.py:1: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  ic['PROM_GRAL'] = ic['PROM_GRAL'].apply(lambda x: x.replace(",", ".")).astype(np.float)

,RBD,RURAL_RBD,ASISTENCIA,GEN_ALU,COD_JOR,COD_DEPE,COD_COM_ALU,COD_COM_RBD,PROM_GRAL
3,1.0,0.0,95.0,2.0,4.0,2.0,15101.0,15101.0,6.4
8,1.0,0.0,90.0,1.0,4.0,2.0,15101.0,15101.0,5.3
15,1.0,0.0,97.0,2.0,4.0,2.0,15101.0,15101.0,6.4
16,1.0,0.0,94.0,1.0,4.0,2.0,15101.0,15101.0,6.0
17,1.0,0.0,90.0,2.0,4.0,2.0,15101.0,15101.0,5.8
...,...,...,...,...,...,...,...,...,...
3293745,41063.0,0.0,100.0,2.0,2.0,3.0,15101.0,15101.0,6.3
3293746,41063.0,0.0,100.0,1.0,2.0,3.0,15101.0,15101.0,6.1
3293747,41063.0,0.0,100.0,1.0,2.0,3.0,15101.0,15101.0,6.3
3293748,41063.0,0.0,100.0,1.0,2.0,3.0,15101.0,15101.0,5.9
3293749,41063.0,0.0,100.0,2.0,2.0,3.0,3301.0,15101.0,5.4

In [6]:
regr_columns = ic[['RURAL_RBD', 'ASISTENCIA', 'GEN_ALU', 'PROM_GRAL']]

In [7]:
regr_columns['SAME_COM'] = (ic.COD_COM_ALU == ic.COD_COM_RBD).astype(int)
depe = ['corp_munic', 'munic_daem', 'particular_sub', 'particular_pag', 'corp_admin_pag', 'serv_loc_ed']
for i in range(1, 7):
    regr_columns[depe[i - 1]] = (ic.COD_DEPE == i).astype(int)

jor = ['ma', 'tar', 'completa', 'vesp']
for i in range(1, 5):
    regr_columns[jor[i - 1]] = (ic.COD_JOR == i).astype(int)

regr_columns

C:\Users\danie\AppData\Local\Temp/ipykernel_9968/3175722676.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  regr_columns['SAME_COM'] = (ic.COD_COM_ALU == ic.COD_COM_RBD).astype(int)
C:\Users\danie\AppData\Local\Temp/ipykernel_9968/3175722676.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  regr_columns[depe[i - 1]] = (ic.COD_DEPE == i).astype(int)

,RURAL_RBD,ASISTENCIA,GEN_ALU,PROM_GRAL,SAME_COM,corp_munic,munic_daem,particular_sub,particular_pag,corp_admin_pag,serv_loc_ed,ma,tar,completa,vesp
3,0,95,2,6.4,1,0,1,0,0,0,0,0,0,0,1
8,0,90,1,5.3,1,0,1,0,0,0,0,0,0,0,1
15,0,97,2,6.4,1,0,1,0,0,0,0,0,0,0,1
16,0,94,1,6.0,1,0,1,0,0,0,0,0,0,0,1
17,0,90,2,5.8,1,0,1,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3293745,0,100,2,6.3,1,0,0,1,0,0,0,0,1,0,0
3293746,0,100,1,6.1,1,0,0,1,0,0,0,0,1,0,0
3293747,0,100,1,6.3,1,0,0,1,0,0,0,0,1,0,0
3293748,0,100,1,5.9,1,0,0,1,0,0,0,0,1,0,0
3293749,0,100,2,5.4,0,0,0,1,0,0,0,0,1,0,0

In [8]:
from sklearn.linear_model import LinearRegression

regr = LinearRegression()
regr.fit(regr_columns.drop('PROM_GRAL', axis=1), regr_columns['PROM_GRAL'])

print(f'Coeficientes: {regr.coef_}')
print(f'Beta0: {regr.intercept_}')

Coeficientes: [ 6.64270562e-02  2.53212267e-02  1.91484861e-01  4.79693002e-02
 -2.96629663e+08 -2.96629663e+08 -2.96629663e+08 -2.96629663e+08
 -2.96629664e+08 -2.96629663e+08 -1.40018070e+09 -1.40018070e+09
 -1.40018070e+09 -1.40018070e+09]
Beta0: 1696810369.419976

In [15]:
import json

regr_data = {
    'Coef': list(regr.coef_),
    'Beta': regr.intercept_
}

with open('E3/regr.json', 'w') as file:
    json.dump(regr_data, file)

In [9]:
regr_columns.drop('PROM_GRAL', axis=1).columns[np.argmax(regr.coef_)]

'GEN_ALU'

In [10]:
sample = regr_columns.sample(30)
sample

,RURAL_RBD,ASISTENCIA,GEN_ALU,PROM_GRAL,SAME_COM,corp_munic,munic_daem,particular_sub,particular_pag,corp_admin_pag,serv_loc_ed,ma,tar,completa,vesp
2399955,0,90,2,5.8,1,0,0,1,0,0,0,0,0,1,0
2553498,0,97,1,4.9,0,0,0,1,0,0,0,0,0,1,0
1942907,0,98,1,6.2,1,0,0,1,0,0,0,0,0,1,0
2339589,0,69,1,3.6,1,0,0,1,0,0,0,1,0,0,0
2382334,0,100,1,6.6,1,0,0,1,0,0,0,0,0,1,0
768744,0,97,1,5.2,1,0,0,1,0,0,0,1,0,0,0
2180915,0,85,1,5.2,1,0,0,1,0,0,0,0,0,1,0
339690,0,94,2,6.2,1,0,0,1,0,0,0,1,0,0,0
255680,0,98,2,6.9,0,0,0,1,0,0,0,1,0,0,0
1247184,0,92,2,6.6,1,0,0,1,0,0,0,0,0,1,0
641871,0,80,1,5.2,1,0,1,0,0,0,0,0,0,1,0
753119,0,91,2,4.9,1,0,1,0,0,0,0,0,0,1,0
410118,0,100,2,6.7,1,0,0,1,0,0,0,0,0,1,0
31239,0,94,2,6.0,0,1,0,0,0,0,0,0,0,1,0
823419,0,84,1,4.6,1,0,0,1,0,0,0,0,0,1,0
1489834,0,91,2,3.9,0,0,0,1,0,0,0,0,0,0,1
1507257,0,99,1,6.0,0,0,0,0,1,0,0,1,0,0,0
329771,0,93,2,5.2,1,1,0,0,0,0,0,0,0,1,0
2128855,0,93,1,5.1,1,0,0,1,0,0,0,1,0,0,0
1129938,0,93,2,6.2,1,0,1,0,0,0,0,0,0,1,0
1899477,0,52,1,4.2,1,1,0,0,0,0,0,0,0,0,1
2524991,0,100,1,5.2,0,0,0,1,0,0,0,0,0,1,0
2592850,0,93,1,6.7,0,0,0,1,0,0,0,1,0,0,0
550570,1,100,1,6.3,0,0,1,0,0,0,0,0,0,1,0
2083169,0,98,2,5.5,1,0,0,0,1,0,0,0,0,1,0
1299286,0,96,1,6.4,0,0,1,0,0,0,0,0,0,1,0
1567277,0,89,1,5.0,1,0,0,1,0,0,0,0,0,1,0
780031,1,100,1,6.5,0,0,1,0,0,0,0,0,0,1,0
615948,0,98,1,5.6,1,0,0,1,0,0,0,0,1,0,0
2746917,0,100,2,7.0,1,0,0,1,0,0,0,0,0,0,1

In [11]:
regr.predict(sample.drop('PROM_GRAL', axis=1))

array([5.80400395, 5.7417984 , 5.81508899, 5.13792753, 5.86573124,
       5.84692192, 5.48591304, 5.96244335, 6.01575875, 5.85464644,
       5.34686279, 5.81688118, 6.05721617, 5.8107872 , 5.46059155,
       5.25998187, 6.24766707, 5.8334353 , 5.74563718, 5.86752343,
       4.08240628, 5.81776214, 5.69766784, 5.87174511, 6.40464568,
       5.70403314, 5.58719778, 5.87174511, 5.95886326, 5.53584218])

In [12]:
prom_pred = regr.predict(regr_columns.drop('PROM_GRAL', axis=1))

In [13]:
from sklearn.metrics import mean_squared_error, r2_score

print(f'MSE: {mean_squared_error( regr_columns["PROM_GRAL"], prom_pred)}')
print(f'R2: {r2_score( regr_columns["PROM_GRAL"], prom_pred)}')

MSE: 0.3626576686683043
R2: 0.2035045050750054

In [14]:
save_data = ic[[
    'RBD', 'RURAL_RBD', 'ASISTENCIA', 'GEN_ALU',
    'COD_JOR', 'COD_DEPE', 'PROM_GRAL'
    ]]
save_data['SAME_COM'] = (ic.COD_COM_ALU == ic.COD_COM_RBD).astype(int)
save_data

C:\Users\danie\AppData\Local\Temp/ipykernel_1448/2838457795.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  save_data['SAME_COM'] = (ic.COD_COM_ALU == ic.COD_COM_RBD).astype(int)

,RBD,RURAL_RBD,ASISTENCIA,GEN_ALU,COD_JOR,COD_DEPE,PROM_GRAL,SAME_COM
3,1,0,95,2,4,2,6.4,1
8,1,0,90,1,4,2,5.3,1
15,1,0,97,2,4,2,6.4,1
16,1,0,94,1,4,2,6.0,1
17,1,0,90,2,4,2,5.8,1
...,...,...,...,...,...,...,...,...
3293745,41063,0,100,2,2,3,6.3,1
3293746,41063,0,100,1,2,3,6.1,1
3293747,41063,0,100,1,2,3,6.3,1
3293748,41063,0,100,1,2,3,5.9,1
3293749,41063,0,100,2,2,3,5.4,0

In [17]:
save_data.sample(1000).to_json('E3/data.json', orient='records')

In [16]:
save_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2998634 entries, 3 to 3293749
Data columns (total 8 columns):
 #   Column      Dtype
---  ------      -----
 0   RBD         int64
 1   RURAL_RBD   int64
 2   ASISTENCIA  int64
 3   GEN_ALU     int64
 4   COD_JOR     int64
 5   COD_DEPE    int64
 6   PROM_GRAL   float64
 7   SAME_COM    int32
dtypes: float64(1), int32(1), int64(6)
memory usage: 194.5 MB

In [21]:
unique = np.unique(data[['COD_COM_RBD']])
unique.shape

(346,)